.bg-gradient {
  background: linear-gradient(340.79deg, #7285D1 2.67%, rgba(70, 198, 243, 0) 136.1%);
}

.bg-gradient-sec {
  background: linear-gradient(340.79deg, #2AA6E0 2.67%, rgba(70, 198, 243, 0) 136.1%);
}

.bg-service-truckdispatch {
  background: url("./assets/truck-dispatching-card-bg.webp") no-repeat center center/cover;
}

.bg-service-billing {
  background: url("./assets/billing-card-bg.webp") no-repeat center center/cover;
}

.bg-service-paperwork {
  background: url("./assets/paperwork-card-bg.webp") no-repeat center center/cover;
}

.bg-service-ifta {
  background: url("./assets/ifta-card-bg.webp") no-repeat center center/cover;
}

.bg-service-trailer-lease {
  background: url("./assets/truck-lease.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}